h1, h2 {
    font-family: Lato;
  }
  
  .Maintop{
    display: flex;
    border: 5px solid #0882AF ;
    border-bottom: 3px solid gray;
    flex-wrap: wrap;
    height: 65px;
    background-color: lightgrey;
    padding-left: 20px;
  
  
  }
  .Main{
    display: flex;
    border: 5px solid #0882AF;
    border-top: 0;  
    flex-wrap: wrap;
  
  }
  .detailtopleft{ 
    font-size: 25px;
    width: 48%;
    position: relative;
    top: 30px;
    font-weight: bold;
  

    
  }
  
  .detailtop{
    margin: 5px;
    font-size: 25px;
    width: 48%;
    border-left: 2px solid gray;
   
  }
  
  .detail{
    margin: 5px;
    font-size: 25px;
    width: 100%;
  }
  
  .insidediv{
    font-size: 25px;
    /* color: rgb(0, 153, 255); */
    border-bottom:3px solid lightgrey;
    padding: 30px;
    width: 95%;
    float: left;
    font-weight: bold;
  }
  
  

  
  .loadmore{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #0882AF;
    height: 62px;
    padding-top: 4px;
    margin-top: -7px;;
  }
  .righttopheader{
    text-align: right;
    font-weight: bold;
    
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon-search:before {
    content: "\e003";
  }
  
  .dropdown{
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .leftspan{
      color: rgb(4, 134, 185);
      float: left;
      font-family: "Liberation Mono",sans-serif;
      
  }
  .rightspan{
      color: rgba(0, 0, 0, 0.671);
      float: right;
      font-size: 25px;
      font-family:sans-serif;
  } 
  
  .gly-rotate-45 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(2700deg);
    -o-transform: rotate(2700deg);
    transform: rotate(270deg);
    display: inline-block;
    color: #0882AF;
    font-size: 15px;
    
  }
  